ol.nested-tree-items-tree li{
  list-style:none;
  width:390px;
}
div.nested-tree-content{
  width:500px;
}
#main div.nested-tree-content form {
  background: none;
  float: left;
  padding: 0;
  margin-right: 10px;
}
li.placeholder{
  background-color:white;
}
input.url-input{
  width:200px;
}
.list table tbody tr.subrow:hover{
  background:none !important;
}
