- given_options = {:"data-autocomplete" => autocomplete_menu_item_url_menu_items_path(:tree_class => resource_class.to_s), |
         :"data-delimiter" => " ", |
         :class=>"url-input ui-autocomplete-input", :autocomplete=>"off", :role=>"textbox", :"aria-autocomplete"=>"list", |
         :"aria-haspopup"=>"true" }
= current_form.text_field field.name, given_options.merge(field.html_options)